@charset "UTF-8";

.reserve_title { 
	display: block;
	font-size: 25px;
	font-weight: 600;
	padding: 16px 0 20px 0;
	text-align: center;
}

.section_title {
	display: block;
	font-size: 25px;
	font-weight: 600;
	padding: 30px 0 30px 0;
	text-align: center;
}

.option_title {
	display: block;
	font-size: 20px;
	font-weight: 500;
	padding: 20px 0 20px 0;
	text-align: center;
}

.price_box {
	display: flex;
	height: 48px;
	width: 120px;
	align-items: right;
	margin-left: auto;
	justify-content: space-between;
	position: relative;
	padding-left: 40px;
}

.price_box .price {
	font-weight: 600;
	text-align: right;
	position: relative;
	float:right;
}

/* 수량 박스 */

.cnt_box {
	display: flex;
	height: 48px;
	width: 120px;
	margin-left: auto;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.option_title .cnt_box button {
	border-radius: 50px;
	border: 2px solid var(--point-color);
	font-size: 18px;
	font-weight: 600;
	width: 30px;
	height: 30px;
	color: var(--point-color);
	cursor: pointer;
}
.option_title .cnt_box button:hover{
	color: white;
	background-color: var(--point-color);
}

.cnt_box span, .price_box span {
	color: var(--point-color);
}

.section:first-child {
	border: 0;
	padding-bottom: 48px;
}

.section {
	padding: 16px 0;
    border-top: 1px solid #d5d4d6;
    font-size: 16px;
}

.cinema {
	width: 50%;
}

/* 예매자 정보 section */

.member_info {
	width: 100%;
    line-height: 28px;
    margin-top: 20px;
    font-size: 15px;
}

.member_info th {
    text-align: left;
	font-weight: 400;
	width: 110px;
}

.member_info td {
    text-align: right;
	font-weight: 600;
}

/* 결제 방식 */

.radio_entity {
	padding: 5px;
	text-align: center;
	
}

.radio + label {
	line-height: 26px;
	display: block;
	margin-bottom: 10px;
	text-align: center;
}

.radio_box {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
	font-weight:600;
}

input[type="submit"] {
	margin-top: 20px;
}
